<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
      {{!-- loading header partials --}}
        {{>header}}

        <p>Use this site to get your weather!</p>

      
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

      <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
{{!-- loading footer partials --}}
    {{>footer}}
    {{!-- loading client side javascript after page is loaded --}}
      <script src="/js/app.js"></script>

</body>

</html>